<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    <services>
      <service name="TimeKeeper.WCFAdapter.WCFAdapter">
        <endpoint address="rest" behaviorConfiguration="restBehavior"
          binding="webHttpBinding" name="RESTEndPoint" contract="TimeKeeper.WCFAdapter.IWCFAdapter_1_0_0" />
        <endpoint address="" binding="basicHttpBinding" name="SOAPEndPoint"
          contract="TimeKeeper.WCFAdapter.IWCFAdapter_1_0_0" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
